
*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}
body{
    margin: 0;
    padding: 0;
    background-color:#ffffff ;
    
}
.container {
    display: flex;
    flex-direction: row;
}
/* side bar menu */
.sidebar{
    background: radial-gradient(862px at 16% 10%, rgb(44, 201, 146) 9.4%, rgb(42, 121, 90) 83.6%);
    width: 25vh;
    height: auto;
    transition: .3s;  
    box-shadow: 1px 0 0 1px #4b4b4bdc;
  
}
.sidebar-label{
font-size: 20px;
background-color: #3c3d3d;
box-shadow: 2px 0px 2px 1px  #272727;
position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 30px;
    align-self: flex-start; 

}
.sticky-sidebar{
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 100px;
    align-self: flex-start; 
}
.sidebar-menu{
    display: flex;
    flex-direction: row;
    padding: 5px;
  
    
}
.sidebar-menu img{
    width: 24px;
    height: 24px;
    padding-right: 5px;
}

.dashboard  i{
    color: #f1f1f1;
    padding: 50px 20px 50px 50px;
    
}
.sidebar .sidebar-menu a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 14px;
    color: #fcfcfc;
    transition: .3s;
    letter-spacing: .5px;
    border-radius: 16px;
    z-index: 2;
    transition: .3s;
}
/*
--main content--*/
.sidebar-menu:hover{
background-color: #686868;
box-shadow: 2px 0px 0px 0px #ffffff;

}
.sidebar-menu a:hover{
    padding-left: 20px;
}
.sidebar-menu img:hover{
    -webkit-filter: invert(1);
}
.main-content{
  background-color:none;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
 border: 5px solid #ffff;

}
.main-content-header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 5px;
   
}
.main-content-header #search input{
    border-radius: 12px;
   width: 20vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
  font-size: 12px;
  border: 1px solid #757575;
 
}
.main-content-header #search input:hover{
   border-color: #757575;
   padding: 5px;
}
.dropdown button{
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    background-color: #ec5192;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fcfcfcc7;
    border-radius: 5px;
    box-shadow: 2px 1px 5px #747575;
}
.dropdown-content a{
    padding: 5px 10px;
    font-size: 12px;
    background-color: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.dropdown-content a:hover{
    background-color: #3c3d3d;
    color: white;
}
.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.header-menu{
    display: flex;
    padding: 5px;
    gap: 5px;
}
.header-menu i{
    color: #47c98c;
    font-size:16px;
}


.form-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    border-radius: 12px;
   box-shadow: 2px 1px 5px #747575;
}
.form-menu a{
    text-decoration: none;
    color: #555555;
}
.button-title a{
    background-color: #47c98c;
    padding: 5px 15px 5px 15px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: .3s;

}
.button-title a:hover{
    background-color: #515251;
}
/*--table content--*/

.form-table table{
    text-align: center;
    width: 100%;
    box-shadow: 2px 1px 5px #747575;
    border-radius: 5px;
    border-collapse: collapse;
    font-size: 14px;
}

.form-table table th{
    border-bottom: 1px solid #47c98c;
}
.form-table tr:nth-child(even){
    background-color: #cfcecea4;
}
.form-table tr:hover{
    background-color: #75757585;
}

/*patient details*/ 
.form-center{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 2px 1px 5px 1px #747575;
    padding: 10px;
    gap: 10px;

}
.form-center .form-center-title{
    text-align: center;
    background-color: #4ed898;
    border-radius: 8px;
    color: #0000;
}
.form-center-title h3{
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.form-control-patient .form-control-firstchild{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-control-primary{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
}
.form-control-input{
    display: flex;
    flex-direction: column;
}
.form-control-input input,.form-control-input select{
    width: 20vw;
    padding: 5px;
    box-sizing: border-box; 
}
.form-control-secondary{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-control-input2{
    display: flex;
    flex-direction: column;
}
.form-control-input2 select, .form-control-input2 input[type="text"]{
    width: 20vw;
    padding: 5px;
    box-sizing: border-box;
}
.form-control-third{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-control-third select{
    width: 20vw;
    padding: 5px;
}
.form-control-input3{
    display: flex;
    flex-direction: column;
}
.form-control-fourth{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.form-control-input4{
    display: flex;
    flex-direction: column;
}
.form-control-input4 input{
    width: 20vw;
    padding: 5px;
    box-sizing: border-box;

}
/*bread crumbs menu*/
.bc-control-menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    box-shadow: 2px 1px 5px 1px #747575;
    padding: 10px;
}
.bc-control-menu a{
    color: #3bad78;
    text-decoration: none;
    box-sizing: border-box;
  
}
.bc-control-menu a:hover{
    color: #000;
}
/*VITAL SIGNS FORM*/
.vs-form-control{
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 2px 1px 5px 1px #747575;
    gap: 10px;
}
.vs-title-box{
    background-color: #42cf8d;
    padding: 16px;
    color: black;
    border-radius: 5px;
    text-align: center;
}
.vs-form-control a{
    color: black;
    text-decoration: none;
    font-weight: 500;

}
.vs-form-box{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    box-sizing: border-box; 
    gap: 20px;
    border-radius: 5px;
    
}
.vs-form-box .vs-form-box-input{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 1px 5px 1px #565858;
    padding: 20px; 
    border-radius: 5px;
}
.vs-form-box-input input{
    width: 20vw;
    padding: 5px;
}

/*
details>summary{
    list-style-type: '▶️';
}
details[open] > summary {
    list-style-type: '🔽';
}
*/
/*TABLE BOX*/
.monitoring-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
padding: 12px;
border-radius: 5px;
box-shadow: 2px 1px 5px 1px #565858;
}
.monitoring-form-title{
    box-shadow: 2px 1px 5px #747575;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    background-color: #49d392;
    font-weight: 500;
}
.monitoring-form{
    display: flex;
}
.table-content table{
    text-align: center;
    width: 100%;
    height: 100%;
    box-shadow: 2px 1px 5px #747575;
    border-radius: 5px;
    border-collapse: collapse;
    font-size: 14px;
}
table td{
    padding: 5px;
}
.table-content table tr:hover{
    background-color: #65b992;
}
.table-content table th{
    padding: 5px;
    background-color: #e06896;
}

.table-form-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 5px;
    gap: 5px;
  
}
.table-content{
    flex-grow: 1;
    width: 100%;
}
.table-form-menu-box{
    padding: 12px;
    box-shadow: 2px 1px 5px #747575;
    border: 1px solid black;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
}
.table-form-menu-box a{
    text-decoration: none;
    background-color: #42d490;
    color: black;
    padding: 5px 20px;
    border-radius: 5px;
}
.table-form-menu-box a:hover{
    background-color: #2b7753;
    color: white;
}
@media only screen and (max-width: 650px ){
    .container{
        flex-direction:column;
    }
    .sidebar{
        height: auto;
       width: auto;
    }
    .sidebar-label{
        position: static;
    }
    .main-content .main-content-header{
        width: auto;
    }
 
    .main-content-header #search input{
        width: auto;
    }
    .sidebar:hover{
        width: auto;
    }
    table{
        width: auto;
        overflow: scroll;
    }
    table th,td,select{
        font-size: 12px;
    }
    .sidebar .sidebar-menu a{
        font-size: 12px;
    }
    .sidebar .sidebar-menu img{
        width: 12px;
        height: 12px;
    }
    .button-title a{
        font-size: 12px;

    }
    .form-menu{
        justify-content:center;
        gap: 15px;
        flex-direction: column;
    }
    .form-menu a{
        font-size: 12px;
    }
    .form-table{
        overflow: auto;
    }
   .form-table select{
    font-size: 8px;
   }
   .form-table select::content{
    font-size: 7px;
    text-align: ce;
   }
    .form-center{
        flex-wrap: wrap;
    }
    .form-center-title{
        width: auto;

    }
    .form-center-title h3{
    color: black;
    font-size: 12px;
    }
    .form-control-primary{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form-control-input{
        flex-wrap: wrap;
    }
    .form-control-input input{
        width: auto;
    }
    .form-control-input select{
        width: auto;
    }
    .form-control-secondary{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form-control-input2 input[type="text"]{
        width: auto;
    }
    .form-control-input2 select{
        width: auto;
    }
    .form-control-third{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form-control-input3 select{
        width: auto;
    }
    .form-control-fourth{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form-control-input4 input[type="tel"]{
        width: auto;
    }
    .vs-form-box{
        width: auto;
        justify-content: space-evenly;
       
    }
    .vs-form-box-input input{
        width: auto;
    }
    .table-form-container{
        width: auto;
      
    }
    .table-content table th,td{
        font-size: 8px;
    }
}